# Directories
keys/
jenkins_workspace/
env/

# OS Files
.DS_Store

# Files Generated per run
masterID
slaveIDs
influxID
allInstanceIDs
influxDNS
*.retry
templates/output.txt

# Other
test-another.yml
test.py